<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout/base :: *">
<body>
<h2>Edit Story</h2>
<form th:action="@{'/admin/stories/' + ${story.id}}" method="post" class="row g-2">
    <div class="col-md-4"><input class="form-control" name="title" th:value="${story.title}" required></div>
    <div class="col-md-2"><input class="form-control" name="type" th:value="${story.type}" required></div>
    <div class="col-md-3"><input class="form-control" name="tags" th:value="${story.tags}"></div>
    <div class="col-12 mt-2"><textarea class="form-control" name="body" rows="6" th:text="${story.body}"></textarea></div>
    <div class="col-12 mt-2"><button class="btn btn-primary">Save</button> <a href="/admin/stories" class="btn btn-secondary">Back</a></div>
</form>
</body>
</html>
